<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Career Sphere</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<div class="home-container">

    <!--  CENTER WRAPPER -->
    <div class="home-box">

        <h1 class="main-title">🎓 Career Sphere</h1>
        <p class="subtitle">Your Gateway to Jobs & Opportunities</p>

        <div class="button-group">
            <a href="/login">
                <button class="btn">Login</button>
            </a>
            <a href="/register">
                <button class="btn-outline">Register</button>
            </a>
        </div>

    </div>

</div>

</body>
</html>